html, body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: 14px "Century Gothic", Futura, sans-serif;
}
#p5-div {
  display: block;
}
#copyright {
  margin-top: auto;
  padding-bottom: 8px;
}
.selector {
  margin: 8px;
  font: 16px "Century Gothic", Futura, sans-serif;
}
option {
  padding: 8px;
  font: 16px "Century Gothic", Futura, sans-serif;
}
button {
  display: block;
  margin: auto;
  margin-top: 8px;
  padding: 16px;
  width: 80%;
}